{%extends "layout/base.html"%}

{%block title%}
500
{%endblock%}


{%block content%}
<div bp="grid">
    <div bp="10 offset-2">
        <section class="nes-container is-dark">
            <section class="message-list">
                <section class="message -left">
                    <i class="nes-squirtle"></i>
                    <div class="nes-balloon from-left is-dark">
                        <h1>❌500 ERROR❌</h1>
                    </div>
                </section>
            </section>
        </section>
    </div>
</div>
{%endblock%}