{%extends "layout/base.html"%}

{%block title%}
About the RD
{%endblock%}

{%block content%}
<div bp="grid vertical-center">
    <div bp="8 offset-3">
        <div class="nes-container with-title is-centered is-dark">
            <p class="title">Reason</p>
            <p>Lately I had installed some selfhosted applications on my servers, and I lost in a sea of links.</p>
            <p>So, I wanana build a web dashboard to organise all my web applications.</p>
          </div>
    </div>
  </div>
{%endblock%}