{%extends "layout/base.html"%}

{%block title%}
About the Retroboard
{%endblock%}

{%block content%}
<div bp="grid vertical-center">
  <div bp="8 offset-3">
    <div class="nes-container with-title is-centered is-dark">
      <p class="title">Reason</p>
      <p>Lately I had installed some selfhosted applications on my servers, and I lost in a sea of links.</p>
      <p>So, I wanana build a web dashboard to organise all my web applications.</p>
    </div>
  </div>
  <div bp="8 offset-3">
    <div class="nes-container with-title is-centered is-dark">
      <p class="title">Coder</p>
      <p>I'm Simon Yen, a noob programmer.</p>
      <p>Feel free to contact me.</p>
    </div>
  </div>
  <div bp="8 offset-3">
    <div class="nes-container with-title is-centered is-dark">
      <p class="title">Links</p>
      <section class="icon-list">
        <a href="https://twitter.com/tuitesimonyen" target="_blank">
          <!-- twitter -->
          <i class="nes-icon twitter is-large"></i>
        </a>


        <a href="https://github.com/SimonYen" target="_blank">
          <!-- github -->
          <i class="nes-icon github is-large">
          </i>
        </a>


        <a href="#" onclick="showMail()">
          <!-- gmail -->
          <i class="nes-icon gmail is-large"></i>
        </a>

      </section>
    </div>
  </div>
  <div bp="8 offset-3" style="visibility: hidden;" id="gmail">
    <div class="nes-container with-title is-centered is-dark">
      <p class="title">Email</p>
      <p>simonyen980821@gmail.com</p>
    </div>
  </div>
</div>
{%endblock%}